<div class="card">
    <div class="card-header">
        <h2 class="card-header-title">{{ tplTitle | safe }}</h2>
    </div>
    <div class="card-image">
        <figure class="image is-4by3">
        <img src="{{ tplImg }}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
        {{ tplContent | safe }}
        </div>
    </div>
</div>