---
layout: layouts/base.njk
title:
description:
bodyClass: home
---

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{ '#top' | url }}" title="{{ metadata.brandName }}">
            <img
                src="{{ '/img/zdoroviakod-min.svg' | url }}"
                alt="{{ metadata.brandName }}"
            />
        </a>
    </div>
    <ul class="navbar-menu">
        <li>
            <a href="#consultancy" class="navbar-item">Консультации</a>
        </li>
        <li>
            <a href="#program" class="navbar-item">Программы</a>
        </li>
        <li>
            <a href="#me" class="navbar-item">Обо&nbsp;мне</a>
        </li>
        <li>
            <a href="#contacts" class="navbar-item">Контакты</a>
        </li>
    </ul>
</nav>

<div class="banner">
    <section id="hero" class="hero is-large has-bg-img">
        <div class="hero-body">
            <p class="title">
                {{ metadata.author }}
            </p>
            <p class="subtitle">
                {{ metadata.authorProfession }}
            </p>
            <ul>
                {% for service in data.service.services %}
                <li>
                    <span><img src="{{ service.icon | url }}" /></span>
                    {{ service.name | safe }}
                </li>
                {% endfor %}
            </ul>

            <div class="hero-image">
                <img src="{{ '/img/hero.png' | url }}" />
            </div>
        </div>
    </section>
</div>
<section id="consultancy" class="services">
    <h1>Консультации</h1>
    <div>
        {% for service in data.service.services %}
        <div>
            {% set tplTitle = service.name %} {% set tplImg =
            (service.icon | url) %} {% set tplContent =
            service.content %} {% include "serviceitem.njk" %}
        </div>
        {% endfor %}
    </div>
</section>
<section id="program" class="program">
    <h1>Программы</h1>
    <div class="container">
        <div class="image">
            <img src="{{ '/img/photo/consultancy.jpg' | url }}" />
        </div>
        <div class="info">
            <div>
                <h2>Индивидуальная консультация</h2>
                <p>
                    Продолжительность одного занятия&nbsp;&mdash; 1&nbsp;час
                    30&nbsp;минут.
                </p>
                <p>
                    Стоимость курса&nbsp;&mdash; 5000&nbsp;<abbr title="рублей"
                        >&#x20bd;</abbr
                    >.
                </p>
                <p>Проходит онлайн.</p>
            </div>
            <div>
                <h2>
                    Экспресс программа &laquo;Диетолог онлайн&nbsp;24/7&raquo;
                </h2>
                <p>
                    Продолжительность одного занятия&nbsp;&mdash; 1&nbsp;час
                    30&nbsp;минут, или 2&nbsp;занятия по 45&nbsp;минут
                    на&nbsp;выбор.
                </p>
                <p>Продолжительность курса&nbsp;&mdash; 2&nbsp;недели.</p>
                <p>
                    Стоимость одного занятия&nbsp;&mdash; 7000&nbsp;<abbr
                        title="рублей"
                        >&#x20bd;</abbr
                    >.
                </p>
                <p>
                    После прохождения курса&nbsp;&mdash; скидка на&nbsp;основную
                    программу 6&nbsp;недель 20%.
                </p>
            </div>
            <div>
                <h2>
                    Индивидуальный коучинг по&nbsp;питанию «Попробуй просто»
                </h2>
                <p>
                    Включает 7&nbsp;индивидуальных консультаций по
                    60&nbsp;минут, онлайн поддержка&nbsp;24/7.
                </p>
                <p>Продолжительность курса&nbsp;&mdash; 7&nbsp;недель.</p>
                <p>
                    Стоимость курса&nbsp;&mdash; 35000&nbsp;<abbr title="рублей"
                        >&#x20bd;</abbr
                    >.
                </p>
                <p>
                    Бесплатная консультация&nbsp;&mdash; 1&nbsp;час
                    30&nbsp;минут в&nbsp;течение 2&nbsp;месяцев после окончания
                    курса.
                </p>
            </div>
            <div>
                <h2>
                    Индивидуально-групповая работа по&nbsp;программе «Попробуй
                    просто»
                </h2>
                <p>
                    Включает 3&nbsp;индивидуальные консультации, 5&nbsp;живых
                    вебинаров, 6&nbsp;еженедельных разборов ваших вопросов
                    в&nbsp;чате.
                </p>
                <p>Продолжительность курса&nbsp;&mdash; 7&nbsp;недель.</p>
                <p>
                    Стоимость курса&nbsp;&mdash; 28000&nbsp;<abbr title="рублей"
                        >&#x20bd;</abbr
                    >.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="me" class="me">
    <h1>{{ metadata.author }}</h1>
    <div class="me-body content">
        <div class="me-image">
            <img src="{{ data.me.img | url }}" alt="{{ metadata.author }}" />
        </div>
        <div class="me-title-1">
            {{ data.me.section01 | safe }}
        </div>
        <div class="me-title-2">
            {{ data.me.section02 | safe }}
        </div>
        <div class="me-title-3">
            {{ data.me.section03 | safe }}
        </div>
    </div>
    <div class="clients">
        <p>
            {{ data.me.clients }}
        </p>
    </div>
    <div class="slogan">
        <p>
            <strong>
                {{ data.me.slogan }}
            </strong>
        </p>
    </div>
</section>
<section id="contacts" class="contacts">
    <h1>Контакты</h1>
    <div class="columns">
        <section class="links-container column">
            <div class="links">
                <h2>Напишите мне через социальные медиа</h2>
                <div class="link-item">
                    <a href="https://instagram.com/zdoroviakod" class="button">
                        <span class="icon is-small">
                            <img
                                alt="Инстаграм https://instagram.com/zdoroviakod"
                                src="/img/icon_instagram.svg"
                            />
                        </span>
                        <span>
                            Инстаграм instagram.com/<strong>{{
                                data.contacts.instagram | safe
                            }}</strong>
                        </span>
                        <span> &rarr; </span>
                    </a>
                </div>
                <div class="link-item">
                    <a href="https://wa.me/79875481185" class="button">
                        <span class="icon is-small">
                            <img
                                alt="Ватсапп {{
                                    data.contacts.whatsapp
                                        | striphtml
                                        | removeSpaces
                                }}"
                                src="/img/icon_whatsapp.svg"
                            />
                        </span>
                        <span>
                            Ватсапп
                            <strong>{{ data.contacts.whatsapp | safe }}</strong>
                        </span>
                        <span> &rarr; </span>
                    </a>
                </div>
                <div class="link-item">
                    <a
                        href="https://www.facebook.com/alla.tanaeva"
                        class="button"
                    >
                        <span class="icon is-small">
                            <img
                                alt="Фейсбук facebook.com/{{
                                    data.contacts.facebook | safe
                                }}"
                                src="/img/icon_facebook.svg"
                            />
                        </span>
                        <span>
                            Фейсбук facebook.com/<strong>{{
                                data.contacts.facebook | safe
                            }}</strong>
                        </span>
                        <span> &rarr; </span>
                    </a>
                </div>
                <h2>Напишите мне письмо</h2>
                <div class="link-item">
                    <a
                        href="mailto:{{ data.contacts.email | safe }}"
                        class="button email"
                    >
                        <span class="icon is-small">
                            <img
                                alt="Электроная почта {{
                                    data.contacts.email | safe
                                }}"
                                src="/img/icon_email.svg"
                            />
                        </span>
                        <span>
                            Почта <strong>{{ data.contacts.email | safe }}</strong>
                        </span>
                        <span> &rarr; </span>
                    </a>
                </div>
            </div>
        </section>
        <div class="divider is-vertical">или</div>
        <section class="contact-form column">
            <h2>Отправьте мне сообщение</h2>
            <p id="contact-form-output"></p>
            <form id="contact-form">
                <fieldset class="field">
                    <label class="label" for="name"> Ваше имя </label>
                    <input
                        id="name"
                        type="text"
                        name="name"
                        placeholder="Ваше имя"
                        class="input"
                    />
                </fieldset>
                <fieldset id="media" class="field">
                    <label class="label" for="media">
                        Как с&nbsp;вами связаться,
                    </label>
                    <label class="label" for="email">
                        по&nbsp;электронной почте
                    </label>
                    <input
                        id="email"
                        type="text"
                        name="email"
                        placeholder="Ваша электронная почта"
                        class="input"
                    />
                    <label class="label" for="phone">
                        или по&nbsp;телефону
                    </label>
                    <input
                        id="phone"
                        type="text"
                        name="phone"
                        placeholder="Ваш телефон"
                        class="input"
                    />
                </fieldset>
                <fieldset class="field">
                    <label class="label" for="message">
                        Дополнительная информация по&nbsp;желанию
                    </label>
                    <textarea
                        id="message"
                        name="message"
                        placeholder="Дополнительная информация"
                        class="textarea"
                    ></textarea>
                </fieldset>
                <div class="field privacy">
                    <input id="privacy" name="privacy" type="checkbox" />
                    <label class="label" for="privacy">
                        Отправляя заявку, я&nbsp;даю
                        <a href="{{ 'privacy' | url }}"
                            >согласие на&nbsp;обработку персональных данных</a
                        >
                    </label>
                </div>
                <div class="field">
                    <button type="submit" class="button is-primary">
                        Отправить
                    </button>
                </div>
            </form>
        </section>
    </div>
</section>
