/* FORMS */
fieldset.field {
    margin-bottom: 1rem;
}

input:focus.error {
    border-color: $wheelE;
}

label.error {
    display: block;
    padding: 0.25em;
    color: $wheelE;
    background-color: #ffefef;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.privacy {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
        'input label'
        'error error';
    margin-bottom: 1rem;

    input {
        grid-area: input;
        margin-right: 0.5em;
    }

    label.label {
        grid-area: label;
        font-size: 0.75em;

        a {
            text-decoration: underline;
        }
    }

    label.error {
        grid-area: error;
    }
}
