@import 'variables';

/* LOGO */
nav.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.25rem 1rem;

    @media screen and (min-width: $tablet) {
        position: sticky;
        top: 0;
        background-color: white;
        box-shadow: 0 4px 4px -4px $wheelB;
    }

    @media screen and (min-width: $desktop) {
        padding: 0.25rem 2rem;
    }

    .navbar-brand img {
        height: 3rem;
        width: auto;
    }

    ul.navbar-menu {
        display: flex;
        flex-wrap: wrap;

        li:not(:last-child) {
            margin-right: 1rem;
        }

        a:hover {
            border-bottom: 2px solid $wheelD;
        }
    }

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
    }
}
