// compund
$wheelA: #678ab8; /* hsb(214, 044, 072); */
$wheelB: #224d85; /* hsb(214, 074, 052); */
$wheelC: #9be7eb; /* hsb(182, 034, 092); */
$wheelD: #ed8461; /* hsb(015, 059, 093); */
$wheelE: #b84639; /* hsb(006, 069, 072); */

$wheelC-darkest: #3e4242; /* hsb(182, 007, 026); */
$wheelC-lightest: #daeaeb; /* hsb(182, 007, 092); */

$wheelE-lightest: #ffefef;
