@charset "utf-8";
@import 'variables.scss';

// Update Bulma's global variables
$family-sans-serif: 'Raleway', sans-serif;
$grey-dark: $wheelC-darkest;
$grey-light: $wheelC;
$primary: $wheelD;
$link: $wheelB;
$widescreen-enabled: false;
$fullhd-enabled: false;

/* Bulma overrides */
$body-background-color: #f9f9f9;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* __ card */
$card-header-color: $wheelE;

@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/form/shared.sass';
@import '../../node_modules/bulma/sass/form/input-textarea.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/content.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/grid/columns.sass';

@import '../../node_modules/@creativebulma/bulma-divider/src/sass/index.sass';

// @import '../../node_modules/bulma/bulma.sass';

@import 'logo.scss';
@import 'hero.scss';
@import 'forms.scss';
@import 'links.scss';
@import 'card.scss';
@import 'me.scss';

html {
    font-size: 87.5%; // 14px
    width: 100%;
    min-height: 100vh;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;

    & > .wrapper {
        max-width: $desktop;
        margin: 0 auto;

        & > section {
            margin: 2rem 0;
            padding: 1rem;

            h1 {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    // color: $wheelE;
}
