@charset "utf-8";
@import 'variables';

// Update Bulma's global variables
$family-sans-serif: 'Raleway', sans-serif;
$grey-dark: $wheelC-darkest;
$grey-light: $wheelC;
$primary: $wheelD;
$link: $wheelB;
$widescreen-enabled: false;
$fullhd-enabled: false;

/* Bulma overrides */
$body-background-color: #f9f9f9;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import 'bulma';
@import 'logo';
@import 'hero';
@import 'forms';
@import 'links';
@import 'card';
@import 'me';

html {
    font-size: 87.5%; // 14px
    width: 100%;
    min-height: 100vh;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;

    & > .wrapper {
        max-width: $desktop;
        margin: 0 auto;

        & > section {
            margin: 2rem 0;
            padding: 1rem;

            h1 {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    // color: $wheelE;
}

a.scroll-top {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem;
    background-color: rgba(103, 138, 184, 0.25);
    text-align: center;
}
